* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  min-height: 100%;
  font-size: 2rem;
  font-family: "PT Serif", sans-serif;
  color: #161616;
  line-height: 1.4;
}
h1,
h2,
h3 {
  margin: 0;
}
.page__wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.page__wrapper_padding {
  padding-top: 3rem;
}
.headline,
.btn,
.headline-price {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.headline-price,
.headline {
  font-weight: 700;
  margin: 0;
}
.headline_red {
  color: red;
}
.btn {
  font-size: 2.2rem;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: .5rem;
  padding: 2rem 7rem;
  background: red;
}
.btn:hover {
  cursor: pointer;
}
.headline {
  color: #130e27;
  font-size: 5rem;
  line-height: 1.6;
}
.headline-price {
  color: red;
  font-size: 6rem;
  line-height: 1.33;
}
.link {
  text-decoration: none;
  padding: 1rem 1.1rem;
  color: white;
  line-height: 1.2;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.link:hover {
  background: #130e27;
}
.white-text {
  color: white;
}
.input {
  padding: 1.8rem;
  height: 5rem;
  background: #eee;
  outline: none;
  border: none;
}
.fa {
  color: black;
}
.checkbox {
  background: #eee;
  height: 2rem;
  width: 2rem;
}
.checkbox,
.input,
.link:hover {
  border-radius: .5rem;
}
img {
  max-width: 100%;
  width: 100%;
}
/* Header */
.header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  /* Menu for phones */
}
.header__logo {
  font-family: "QuiteChocolatey", sans-serif;
  margin: 0;
  color: white;
  font-size: 8.8rem;
  line-height: 1;
  width: 19%;
}
.header__nav {
  width: 79%;
  text-align: right;
}
.header_mobile {
  font-weight: bold;
  font-size: 5rem;
  display: none;
}
.nav {
  text-transform: uppercase;
  list-style: none;
}
.nav__item {
  margin: 0 .5rem;
}
.nav__item:last-child {
  margin-right: -1.6rem;
}
.header__logo,
.header__nav,
.nav__item {
  display: inline-block;
  vertical-align: middle;
}
/* Main */
.page__main {
  padding: 0 1rem;
  height: 85vh;
  min-height: 55rem;
  background: url(../img/bg-main.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.main__content {
  padding-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  bottom: -5rem;
}
.main__article {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.main__head {
  line-height: 1;
  font-size: 8.1rem;
}
.main__head_white {
  color: white;
}
.main__form {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}
.main__text {
  margin-top: 4rem;
}
.form {
  background: white;
  border-radius: .5rem;
  text-align: center;
  padding: 2.8rem;
}
.form_shadow {
  -webkit-box-shadow: 1px 5px 31.92px 6.08px rgba(137, 137, 137, 0.5);
  box-shadow: 1px 5px 31.92px 6.08px rgba(137, 137, 137, 0.5);
}
.form__head {
  font-size: 2.2rem;
}
.form__input {
  width: 100%;
  margin-top: 1.6rem;
}
.form__input:first-child {
  margin-top: 0;
}
.form__accept {
  margin: 1.8rem 0;
  text-align: left;
  vertical-align: middle;
}
.form__send {
  width: 100%;
  padding: 0;
  height: 6rem;
}
.accept__text {
  padding-left: 1rem;
}
.accept__text,
.accept__check {
  display: inline-block;
  vertical-align: middle;
}
/* Block - services */
.services__header {
  padding: 1rem;
}
.services__list {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 20rem;
      flex-basis: 20rem;
  width: 25%;
}
.services__icon {
  height: 50%;
}
.services__descript {
  text-align: center;
}
.services__descript,
.services__icon {
  width: 100%;
}
/* Block - Our Story */
.page__story {
  background: #130e27;
  overflow: hidden;
}
.story {
  position: relative;

  left: -120%;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.2rem 0;
  color: white;
}
.story__text {
  padding-left: 2rem;
}
/* Block - Pricing */
.page__pricing {
  background: #efefef;
 /*background: url(../img/bg-parallax.png);
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 background-size: cover;
 background-position: center center;*/
}
.pricing__header {
  text-align: center;
}
.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.pricing__item {
  background: #fff;
  flex-basis: 300px;
  width: 30%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.pricing__popular {
  background: #ff0000;
  width: 180px;
  height: 23%;
  position: absolute;
  top: -20px;
  left: -70px;
  line-height: 6;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
.pricing__name {
  font-size: 2.2rem;
}
.pricing__price {
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 800;
  margin: 0;
}
.pricing__advantages {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.pricing__button {
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  margin-top: 3rem;
  width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #130e27;
}
.pricing__button:hover {
  background: #ff0000;
}
/* Block - Media */
/* Sub-block - comments */
.media {
  margin-top: 14rem;
  margin-bottom: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: hidden;
}
.comments {
  width: 50%;
  -ms-flex-preferred-size: 40rem;
      flex-basis: 40rem;
  position: relative;
  left: -120%;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}
.comments__header {
  text-align: center;
}
.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.5rem;
  width: 100%;
}
.comment:last-child {
  margin-bottom: 0;
}
.comment__block {
  width: 90%;
  line-height: 1.4;
  padding: 2rem;
  padding-right: 3rem;
}
.comment__block_different {
  background: #efefef;
}
.comment__text {
  padding-bottom: 1rem;
}
.comment__author {
  padding-top: 1rem;
  font-weight: bold;
  font-family: "Montserrat";
}
.comment__text,
.comment__author {
  margin: 0;
}
.comment__pict {
  position: absolute;
  right: -5%;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 1px 5px 16px 0px rgba(184, 172, 147, 0.75);
          box-shadow: 1px 5px 16px 0px rgba(184, 172, 147, 0.75);
  text-shadow: 1px 5px 16px rgba(184, 172, 147, 0.75);
}
.comment__pict_man {
  background: url(../img/man.png);
}
.comment__pict_woman {
  background: url(../img/woman.png);
  background-position: 80% 20%;
}
.comment__pict_man,
.comment__pict_woman {
  background-repeat: no-repeat;
  background-size: cover;
}
/* Sub-block - gallery */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 50%;
  position: relative;
  right: -120%;
  -webkit-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
}
.gallery__header {
  text-align: center;
  color: #ff0000;
}
.gallery__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding-top: 2.5rem;
}
.gallery__image-block {
  width: 11rem;
  margin-bottom: 1rem;
  height: 11rem;
  border-radius: 50%;
  overflow: hidden;
}
.gallery__more {
  text-transform: uppercase;
  color: #130e27;
}
/* Block - footer */
.page__footer {
  background: #130e27;
  color: #ffffff;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__logo {
  font-family: "QuiteChocolatey";
  font-size: 6.4rem;
  line-height: 1;
  margin: 0;
}
.footer__rights_company,
.footer__logo {
  color: #ff0000;
}